<div class="table-row-heading no-bg">
    <div class="table-container">
	<div class="table-col">Sinossi</div>
	<div class="table-col">Personaggi</div>
	<div class="table-col">Argomenti</div>
	<div class="table-col">Riferimenti</div>
	<div class="table-col">Share</div>
	<div class="table-col">Info</div>
	<div class="table-col">Export</div>
            
</div>