
{% embed 'partials/base.html.twig' %}
	{% block content %}
		{% set new_base_url = site.blog.route== '/' ? '' : blog.url %}


{% if config.plugins.taxonomylist.enabled %}
<div class="content-wrapper content-focus">
	<h1 class="text-xs-l">{{ page.title }}</h1>
    <h4>{{ page.content }}</h4>
    {%  include 'partials/taxonomylist.html.twig' with {'base_url':new_base_url, 'taxonomy':'char' } %}
</div>
{% endif %}

{% endblock %}
{% endembed %}
